<div id="footer">
  <div class="container-fluid">
    <h1> Get In Touch </h1>
    <h4>
      <a href="mailto:jimmyjinglin@gmail.com" className="item">Jimmyjinglin@gmail.com</a>
    </h4>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-5 col-xs-offset-4 col-sm-offset-4 col-md-offset-4">
        <div class="row">
          <a id="github" href="https://github.com/JimmyJLin" target="_blank" data-toggle="tooltip" data-placement="top" title="Github">
            <!-- <img src="/images/social-medias/github.png" class="img-responsive center-block" alt="Github"> -->
          </a>
          <a id="linkedin" href="https://www.linkedin.com/in/jimmyjlin" target="_blank" data-toggle="tooltip" data-placement="top" title="LinkedIn">
            <!-- <img id="linkedin" src="/images/social-medias/linkedin.png" class="img-responsive center-block" alt="LinkedIn"> -->
          </a>
          <a id="resume" href="/images/jimmy_lin_resume.pdf" target="_blank" data-toggle="tooltip" data-placement="top" title="Resume">
            <!-- <img src="/images/social-medias/resume.png" class="img-responsive center-block" alt="Resume"> -->
          </a>

        </div>
      </div>
    </div>
    <p>@ Copyright 2017 Jimmy Lin - All Rights Reserved</p>

  </div>
</div>
