// import variables
@import "variables";

// styling for footer
#footer{
  // footer background color
  background-color: $main_color_dark_grey;
  height: 400px;

  // font
  color: $main_color_white;
  font-family: 'Roboto Slab', serif;

  h1, p, h4{
    padding-top: 2%;
    text-align: center;
    font-weight: 100;
  }
  .row{
    padding-top: 2%;
    height: 125px;
    display: flex;

    #github{
      width: 100%;
      height: auto;
      margin: 0;
      background:url('/images/social-medias/github.png');
      background-size: 80px 80px;
      background-repeat: no-repeat;
    }
    #linkedin{
      width: 100%;
      height: auto;
      margin: 0;
      background:url('/images/social-medias/linkedin.png');
      background-size: 80px 80px;
      background-repeat: no-repeat;
    }
    #resume{
      width: 100%;
      height: auto;
      margin: 0;
      background:url('/images/social-medias/resume.png');
      background-size: 80px 80px;
      background-repeat: no-repeat;
    }
  }

  h1{
    font-size: 2.5em;
  }

  p{
    padding-top: 3%;
    font-size: .85em;
  }

  h4{
    a{
      color: $main_color_white;
    }
    a:hover{
      color: $main_color_red;
      text-decoration: none;
    }
  }
}



/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

}
// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

}
/* Mobile & Tablet @media imports - ends */
