<div id="highlights">
  <p id="title">Career Highlights</p>
  <div class="container">
    <div class="row">
      <div id="section-one" class="col-xs-12 col-sm-6 col-md-3">
        <div id="one"></div>
        <p>United States Marine Corps</p>
      </div>
      <div id="section-two" class="col-xs-12 col-sm-6 col-md-3">
        <div id="two"></div>
        <p>Pace University</p>
      </div>
      <div id="section-three" i class="col-xs-12 col-sm-6 col-md-3">
        <div id="three"></div>
        <p>Milbon USA</p>
      </div>
      <div id="section-four"  class="col-xs-12 col-sm-6 col-md-3">
        <div id="four"></div>
        <p>Allthingsfrenchie</p>
      </div>
    </div>
  </div>
</div>
