<div id="top">
  <p id="title">Welcome, I'm Jimmy J Lin</p>
  <p id="summary">A Freelance Full Stack Web & Mobile Developer</p>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>Web Design & Development</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>UI/UX Development</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>Mobile Development</p>
    </div>
  </div>
</div>
