$main_background_color: transparent;
$main_font_color: #0080FF;



// index landing page
#index{
  h3{
    margin:0 auto;
    background-color: $main_background_color;
    z-index:0;
    text-align:center;
    font-size:4em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: $main_font_color;
    opacity:0.7;
  }



}
