// modern color schemes
// #272F32 - dark grey blue
// #9DBDC6 - light navy blue
// #FFFFFF - white
// #FF3D2E - RED
// #DAEAEF - light grey blue

// main variables
$main_color_dark_grey: #272F32;
$main_color_light_blue: #9DBDC6;
$main_color_white: #FFFFFF;
$main_color_red: #FF3D2E;
$main_color_light_grey: #DAEAEF;
