// main variables
$main_background_color: transparent;
$main_font_color: #0080FF;
$secondary_background_color: #f3f3f3;

// footer variables
$footer_background_color: #666;
$footer_font_color: #f2f2f2;
$footer_disclaimer_color: #999;

// font variables
$white_font_color: white;
