
// imported libraries
// @import "libraries";

// import from various pages
@import "index.scss";


// Mobile & Tablet @media imports

// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "responsive/mobile_4";
}

// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "responsive/mobile_5";
}

// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "responsive/mobile_6";
}

// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  @import "responsive/mobile_6plus";
}

// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  @import "responsive/tablet";
}
