// import variables
@import "variables";

// index top page
#highlights{
  height: 450px;
  width: 100%;
  background-color: $main_color_grey;

  #title{
    padding-top: 35px;
    font-size: 3em;
    text-align: center;
    font-weight: 100;
    color: #333333;
  }

  .row{
    padding-top: 25px;

    p{
      text-align: center;
    }

    #one{
      margin-left: 20%;
      width: 200px;
      height: 200px;
      // margin: 0;
      background:url('/images/social-medias/usmc.png');
      background-size: 120px 180px;
      background-repeat: no-repeat;
    }
    #two{
      margin-left: 21%;
      width: 200px;
      height: 200px;
      // margin: 0;
      background:url('/images/social-medias/education.png');
      background-size: 120px 180px;
      background-repeat: no-repeat;
    }
    #three{
      margin-left: 21%;
      width: 200px;
      height: 200px;
      // margin: 0;
      background:url('/images/social-medias/work.png');
      background-size: 120px 180px;
      background-repeat: no-repeat;
    }
    #four{
      margin-left: 21%;
      width: 200px;
      height: 200px;
      // margin: 0;
      background:url('/images/social-medias/entrepreneur.png');
      background-size: 120px 180px;
      background-repeat: no-repeat;
    }
  }
}



/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

}
// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

}
/* Mobile & Tablet @media imports - ends */
