// import variables
@import "variables";

// index top page
#top{
  padding-top: 50px;
  height: 750px;
  width: 100%;
  background:url('/images/background/Bergen-4.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  p{
    font-size: 1em;
    text-align: center;
    font-weight: 100;
    color: $main_color_white;
  }

  #title{
    padding-top: 60px;
    font-size: 2.5em;
    letter-spacing: 5px;
  }
  #summary{
    padding: 50px 0;
    font-size: 1.25em;
    font-weight: 300;
  }

  .row{
    font-size: 1.75em;

  }
}



/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

}
// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

}
/* Mobile & Tablet @media imports - ends */
